{%extends "pcmapp/base_site.html"%}
{%block content%}This is the page to display the expiring members.
<h1>New Member List</h1>
{%if object_list%}
<table class="table">
    <thead><tr>
        <th>Member name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Expiry Date</th>
        </tr>
</thead>

    {%for member in object_list %}
        <tr>
          <td><a href="/pcmapp/member/{{member.pk}}">{{member.member_name}}</a></td>
          <td>{{member.member_email}}</td>
          <td>{{member.member_phone}}</td>
          <td>{{member.member_expiry_date}}</td>
        </tr>
    {%endfor%}
    {%else %}
    <p>No memberships expiring this month. </p>

</table>
{% endif%}
{%endblock%}
